{% load staticfiles %}

<div id="lm-navigation-drawer-account" class="flex column center-vertical">
    <img id="lm-navigation-drawer-account-sign-in-icon" class="clickable" src="{% static 'images/sign_in.png' %}" />
    <span id="lm-navigation-drawer-account-name">Guest</span>
</div>
<div class="lm-navigation-drawer-divider"></div>
<div id="lm-navigation-drawer-algorithms-list" class="flex column">
    <div id="lm-navigation-algorithms-naive-bayes" class="lm-navigation-drawer-algorithms-list-item">Naive Bayes</div>
    <div id="lm-navigation-algorithms-others" class="lm-navigation-drawer-algorithms-list-item">Algo</div>
</div>